@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>My Page is here CHICKEN! .</h1> 

<p>
    what is going on , its crazy out here
</p>
